.header-logo {
    background-image: url("../../../assets/images/logo.png");
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
}

.header-name {
    font-size: 1.5rem;
    margin-left: 5px;
    font-family: system-ui;
}